

/* allgemeine informationen */

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sofia-pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400; /* NOTE: font weight for normal is 400. The Info is from typekit */
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  color: #4A4A4A;
  overflow: hidden;
}

#all {
  width:100%;
  height:100vh;
}

content {
  width:100%;
  height:587px;
}

#chapters {
  width: 100%;
  height: 587px;
}

.chapter {
  width: 100%;
  height: 587px;
  background: white !important;
  position: absolute;
  top: 0;
  /* left: calc(50% - 140px); */
}

/* z-index zum bearbeiten der jeweiligen seite auf 1 setzen */

#mainPageContent {
  z-index: ;
}

#historyContent {
  z-index: ;
}

#profileContent {
  z-index: 1;
}

#settingsContent {
  z-index: ;
}

.heading {

  width: 280px;

}

/* NOTE: Pagination */

.pagination {
  height: 10px;
  width: 280px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
}

#swipeNavi{
  display: flex;
  height: 10px;
  width: 60px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

#naviFirstPage {
  background-image: url('../images/naviElements/swipeInactive.svg');
  width: 10px;
  height: 10px;
}

#naviSecondPage {
  background-image: url('../images/naviElements/swipeInactive.svg');
  width: 10px;
  height:10px;
}

#naviThirdPage {
  background-image: url('../images/naviElements/swipeInactive.svg');
  width: 10px;
  height:10px;
}

.page {
  width:100%;

  height:537px;
}

h1 {
  text-align: center;
  font-size: 1.5rem; /* NOTE: 16*1.5 = 24px */
  font-weight: 500;
}

h2 {
  text-align: center;
  font-size: 1.25rem; /* NOTE: 20px  */
  font-weight: 500;
}

ul {
  list-style-type: none;
}

li {
/* font-family: "sofia-pro",sans-serif; */
font-style: normal;
font-weight: 500;
}


/* Main Page */


/* statusbar */

.statusbar {
  position: absolute;
  height: 80px;
  width: 280px;
  left: calc(50% - 140px);
  display: flex;
  justify-content: center;
}

.progressbar {
  height: 60px;
  width: 60px;
  margin: 0 10px;

}

.progressbar div {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.progressbar div span {
  position: absolute;
  font-size: 14px;
  line-height: 56px;
  height: 56px;
  width: 56px;
  left: 2px;
  top: 2px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}

/* tank */

.progressbar .background_tank {
  background-color: #B5D8DE;
}

.progressbar .rotate_tank {
  background-color: #5C5C61;
  clip: rect(0 30px 60px 0);
}

.progressbar .left_tank {
  background-color: #B5D8DE;
  clip: rect(0 30px 60px 0);
  opacity: 1;
}

.progressbar .right_tank {
  background-color: #5C5C61;
  clip: rect(0 30px 60px 0);
  transform: rotate(180deg);
  opacity: 0;
}

/* bowl */

.progressbar .background_bowl {
  background-color: #B5D8DE;
}

.progressbar .rotate_bowl {
  background-color: #5C5C61;
  clip: rect(0 30px 60px 0);
}

.progressbar .left_bowl {
  background-color: #B5D8DE;
  clip: rect(0 30px 60px 0);
  opacity: 1;
}

.progressbar .right_bowl {
  background-color: #5C5C61;
  clip: rect(0 30px 60px 0);
  transform: rotate(180deg);
  opacity: 0;
}

@keyframes toggle {
  0% {
    opacity: 0;
  }
 100% {
   opacity: 1;
 }
}


/* control circle */

.controlCircle {
  background-image: url('../images/mainPage/iconCircleFeedBig.svg');
  background-repeat: no-repeat;
  width: 267px;
  height: 267px;
  margin: 40px auto 90px auto;
}


/* feed button */

.feedButton {
  background-image: url('../images/mainPage/feedButtonInactive.svg');
  width: 80px;
  height: 80px;
  margin-top: -115px; margin-left: 255px;
}



.autofeedCircle {
  background-image: url('../images/mainPage/iconCircleAutofeedsmall.svg');
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  margin-top: -120px; margin-left: -50px;
}







 .container { /* diese klasse existiert nicht im html dokument ?! */
  width: 90px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.amount {
  margin-left: auto;
  margin-right: auto;
}



#foodwaterContent {
  width: 100%;
  display: flex;
  flex-flow: row;
}

#foodContent {
  background-color: blue;
}

#waterContent {
  background-color: pink;
}

.date li {
  text-align:left;
}

.views {
  display: flex;
  justify-content: flex-end;
}

.views li {
display: flex;
flex-direction: row;
}



.date {
  display: flex;
  flex-flow: row;
}

/* #petProfile {
  display: flex;
  flex-flow: row;
} */

#generalInfoProfile {
  width: 100%;
  background-color: blue;
}

#foodProfile {
  width: 100%;
  background-color: pink;
}

#eatingHabitsProfile {
  width: 100%;
  background-color: grey;
}


.curve {
  hight: 200px;
}

.monthsfood {
  width: 20px;
  transform: rotate(270deg);
  margin-left: auto;
  margin-right: auto;

}

.monthswater {
  width: 20px;
  transform: rotate(270deg);
  margin-left: auto;
  margin-right: auto;
}



.activated svg g {
  fill: #6AAA3B;
}

/* NOTE: Cat Profile Form */


form {

}
form input {
  box-sizing: border-box;
  outline: 0;
  border-bottom: 1px solid;
  border-bottom-color: #87BCD2;
  width: 100%;
  /* background: yellow; */
  height: 50px;
}
label {
  display: inline-block;
  text-align: left;
  /* color: green; */
  position: absolute;
  opacity: 0.5;
}

input{
  color: #4A4A4A;
}

/* NOTE: Cat Profile Button */

.buttonAction {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  transition: 0s;
}

#buttonAddHabit {
  background-image: url('../images/button/addInactive.svg');
}

#buttonCloseHabit {
  background-image: url('../images/button/closeInactive.svg');
}

#buttonConfirmHabit {
  background-image: url('../images/button/confirmInactive.svg');
}

/* NOTE: Cat Profile new Habbit  */

/* NOTE: Cat Profile add new Habbit Time and Portion  */

.addnewHabit {
  padding: 0px 10px 0 10px;
  margin: 0px 20px 0 20px;
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
}

.displayHeader {
  font-size: 14px;
}

.displayInformation {
 display: flex;
 /* background: black; */
 height: 30px;

}

.displayTime {
  background: yellow;
  display: flex;
  justify-content: center;
  width: 100px;

}

.timePicker{
  background-color: pink;
  text-align: center;
}

.hours{
text-align: center;
width: 40px;
border-top: 1px solid;
border-color: #87BCD2;
border-bottom: 1px solid;
border-bottom-color: #87BCD2;
}

.colon {
width: 20px;
text-align: center;
}

.portion {
  background-color: pink;
  width: 40px;
}

.displayPortion {
  display: flex;
  border-top: 1px solid;
  border-top-color: #87BCD2;
  border-bottom: 1px solid;
  border-bottom-color: #87BCD2;
}

.amount span{
  margin-left: 4px;
  margin-right: 10px;
  text-align: right;
  background-color: yellow;
}

.measure span{
  text-align: left;
  font-size: 12px;
  background-color: yellow;
  /* margin-right: 4px; */
}


/* footer navigation */

footer {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  background: white;
}

nav {
  width: 280px;
  height: 40px;
  margin: 20px auto;
}

#mainNavi {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

#mainNavi .navientry {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  transition: 0s;
}


#naviMainPage {
  background-image: url('../images/mainNaviElements/iconMainPageInactive.svg');
}
#naviMainPage.activated {
  background-image: url('../images/mainNaviElements/iconMainPageActive.svg') !important;
}

#naviHistory {
  background-image: url('../images/mainNaviElements/iconHistoryInactive.svg');
}

#naviHistory.activated {
  background-image: url('../images/mainNaviElements/iconHistoryActive.svg') !important;
}

#naviProfile {
  background-image: url('../images/mainNaviElements/iconProfileInactive.svg');
}
#naviProfile.activated {
  background-image: url('../images/mainNaviElements/iconProfileActive.svg') !important;
}

#naviSettings {
  background-image: url('../images/mainNaviElements/iconSettingsInactive.svg');
}

#naviSettings.activated {
  background-image: url('../images/mainNaviElements/iconSettingsActive.svg') !important;
}
