* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sofia-pro", sans-serif;
  font-size: 16px;
  font-style: normal;

  /* NOTE: font weight for normal is 400. The Info is from typekit */
  font-weight: 400;
}

html {

}
body {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  color: #4A4A4A;
  /* NOTE: overflow: hidden; */
}

#all {
  width:100%;
  height:100vh;
}

.content {
  width:100%;
  height:587px;
}

#chapters {
  width: 100%;
  height: 587px;
}

.page {
  width:100%;
  height:537px;
}

#mainPageContent {
  width:100%;
  height:587px;
  background-color: black;
}

#foodwaterContent {
  display: flex;
  flex-flow: row;
}

#foodContent {
  width: 100%;
  background-color: blue;
}

#waterContent {
  width: 100%;
  background-color: pink;
}

.pagination {
  width: 100%;
  height: 20px;
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
}

.pagination li {
  background-color:#fff;
  border:1px solid black;
  height:8px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:8px;
}

#petProfile {
  display: flex;
  flex-flow: row;
}

#generalInfoProfile {
  width: 100%;
  background-color: blue;
}

#foodProfile {
  width: 100%;
  background-color: pink;
}

#eatingHabitsProfile {
  width: 100%;
  background-color: grey;
}

h1 {
  text-align: center;
  font-size: 1.5rem; /* NOTE: 16*1.5 = 24px */
  font-weight: 500;
}

h2 {
  text-align: center;
  font-size: 1.25rem; /* NOTE: 20px  */
  font-weight: 500;
}

.curve {
  hight: 200px;
}

.monthsfood {
  width: 20px;
  transform: rotate(270deg);
  margin-left: auto;
  margin-right: auto;

}

.monthswater {
  width: 20px;
  transform: rotate(270deg);
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
}

li {
  /* NOTE: defined for whole file. see tag *  */
 /* font-family: "sofia-pro",sans-serif; */
font-style: normal;
font-weight: 500;
}

.activated svg g {
  fill: #6AAA3B;
}

/* NOTE: Cat Profile */

form {

}
form input {
  box-sizing: border-box;
  outline: 0;
  border-bottom: 1px solid;
  border-bottom-color: #87BCD2;
  width: 100%;
  margin: 0px 0px 9px;
  /* background: yellow; */
  height: 40px;
}
label {
  display: inline-block;
  text-align: left;
  /* color: green; */
  position: absolute;
  opacity: 0.5;
}

input{
  padding-top: 9px;
  padding-bottom: 18px;
  color: #4A4A4A;
}
#mainnavi #mainpage {
  background-image: url('irgendwo/mein.svg');
}
#mainnavi #mainpage.activated {
  background-image: url('irgendwo/meinaktives.svg') !important;
}



/* Footer   Navigation */

footer {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
}

nav {
  width: 280px;
  height: 40px;
  margin: 20px auto;
  background: red;
}

#mainNavi .navientry {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  transition: 2s;
}

#mainNavi #mainPage {
  background-image: url('../images/mainNaviElements/iconMainPageInactive.svg');
}

#mainNavi #mainPage.activated {
  background-image: url('../images/mainNaviElements/iconMainPageActive.svg');
}
