* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: arial;
}

body {
  background-color: #ffffff;
  color: #333;
}


h1 {}

.pagination {
  width: 100px;
  height: 20px;
background-color: lightblue;
}


&.clicked {
  path {
        fill: #6AAA3B;
      }
  background {
    fill: #6AAA3B;
  }
}
